html{
    background-color: rgb(33,40,48);
}


#bloco{
    display: grid;
    width: 400px;
    grid-template-columns: 0.2fr 1fr 1fr;
    padding-left: 60px;
    padding-top: 20px;
    margin-top: 10px;
}
#mes{
    font: 25px Arial,sans-serif;
    font-weight: bold;
    color:#666;
    padding: 15px;
    margin-left: 50px;
    text-align: left;
}
#data{
    border-radius: 50%;
    width: 20px;
    height: 20px;
        
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 14px Arial, sans-serif;
    position: relative;
    font-weight: bold;
}
	.p0{
      background:#ffe033;
      padding: 8px;
      top: 15px;
    }

    .p1{
      background:white;
      padding: 8px;
      top: 15px;  
    }

    .p2{
      background:#B8DF9C;
      padding: 8px;
      top: 15px; 
    }

	    #data:before {
	    /* lines */
	    content:"";
	    position: absolute;
	    left: 17px; /* adjust manually */
	    border-left: 2px solid #666;
	    height: 130%;
	    width: 1px;	   
		}

		#data:first-child:before {
		   /* first li's line */
		   top: -47px; /* moves the line down so that it disappears under the bullet. Adjust manually */
		}

		#data:last-child:before {
		    /* last li's line */
		   height: 40px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
		}

#evento{
    padding: 8px;
    color: gray;
    text-align: left;
    font-size: 14px;
}
#bloco_direita{
    display: grid;
    background: white;
    grid-template-columns: 0.5fr 1.5fr;
    width: 300px;
    height: 50px;
    border: 2px solid #666;
    
}
    
#linha_horizontal{
    background-color: #666;
    position: relative;
    top: 18px;
    height: 2px;
    position: relative;
    top: 35px;
}



/* 
#imagem{
    width: 10px;
    height: 10px;
    position: relative;
    z-index: 5;
    background-image: url("./imagens/template_casa.png");
} */